@import "../../../assets/styles/colors";
@import "../../../assets/styles/layout";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/typography";

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
}


app-card {
  padding: 5px;
  background-color: $grey-light;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: #000000 0px 2px 6px;
  border-radius: 5px;
  margin: 1% 1%;
}



