@import "colors";
@import "typography";

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page-item {
  color:$color-primary;
  font-size: $medium-font-size;
  margin: 0 5px;
  padding: 0 3px;
  cursor: pointer;
}

.active {
    color: $grey-light;
  }

