/* Font sizes */
$verybig-font-size: 2em;
$big-font-size: 1.5em;
$normal-font-size: 1em;
$medium-font-size: 1.2em;
$small-font-size: 0.8em;

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap");
$brand-font: "Lato", sans-serif;
